body,#post-title-0{
    font-family: sans-serif;
}
.wp-block:not([data-align="full"]):not([data-align="wide"]){
    max-width: calc(720px + 30px);
}
/* 変数 */
:root{
    --f1: 2.44em;
    --f2: 1.95em;
    --f3: 1.56em;
    --f4: 1.25em;
    --f5: 1em;
    --f6: 0.8em;

    --basecolor: #63a211;
    --basetb: 30px;
}

h1{
    font-size: var(--f1);
}
p{
    line-height: 1.8;
    font-size: var(--f5);
}
h2{
    border-left: 14px solid var(--basecolor);
    padding-left: 14px;
    margin: var(--basetb) 0;
}
h6{
    font-size: var(--f6);
}
